Package                Version
---------------------- -------------------
conda                  4.10.1
conda-package-handling 1.7.3
cv2                    4.0.0
h5py                   2.10.0
matplotlib             3.4.2
matplotlib-inline      0.1.2
numpy                  1.20.2
pandas                 1.2.4
Pillow                 8.2.0
scikit-learn           0.24.2
tensorboard            2.2.2
tensorboard-plugin-wit 1.7.0
tensorflow             2.2.0
tensorflow-estimator   2.2.0
termcolor              1.1.0
terminado              0.10.0
testpath               0.5.0
tqdm                   4.60.0
